// COLORS
$background-color: #242424;
$background-color2: #202020;
$background-color3: #652AE6;
$color-white: #FFFFFF;
$color-grey: #DADAED;
$color-active: #1BFEC0;
$color-gradient: linear-gradient(90deg, #8658EB -0.42%, #652AE6 100.42%);
$color-arrow: #7841F4;
$color-error: #EB5757;


// FONTS
$default-font-size: 10px;
$default-font-family: 'Roboto';